.fc {
  .fc-order-status {
    &-open {
      background-color: @m-green;
    }
    &-assembly {
      background-color: @m-amber;
    }
    &-shipment {
      background-color: @m-blue;
    }
    &-invoice {
      background-color: @m-gray;
    }
  }

  .fc-badge {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 22px;
    height: 14px;
    line-height: 16px;
    border-radius: 1px;
    text-align: center;
    background: @m-amber;
    color: @m-pink;
    font-weight: 700;
    z-index: 10;
  }

  .fc-order-has-comment,
  .fc-order-has-future-comment{
    .fc-content {
      &:before {
        content: '\f11e';
        display: inline-block;
        font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
        font-size: 1.5em;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        left: 5px;
        top: -3px;
        color: @m-amber;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      }
    }
    .fc-title {
      padding-left: 18px;
    }
  }
}