#customer-order-form {

}

.customer-order-items-table {
    td.td-status {
        .status-open {
            font-weight: 700;
            color: @m-green;
        }
        .status-assembly {
            font-weight: 700;
            color: @m-amber;
        }
        .status-shipment {
            font-weight: 700;
            color: @m-blue;
        }
        .status-invoice {
            font-weight: 700;
            color: @m-gray;
        }
    }
}