.form-container {
    margin-bottom: 1rem;
}

.form-group {
    position: relative;
}

.form-label {
    display: block;
}

label.error {
    color: #f77;
}

form {
    .removing {
        background: #eee;
    }
}

input[name="product_barcode"],
input[name="package_barcode"] {
    font-family: viisaseanmatala;
    font-size: 40px;
    height: auto;
}

.form-control[disabled],
fieldset[disabled] .form-control {
    background-color: #fafafa;
}
