#price-group-form {

}

.price_group_breakpoints-table {
    td.td-breakpoint {
        vertical-align: top;
    }

    td.td-productGroups {
        padding: 0;
        vertical-align: top;
    }

    td.td-actions {
        vertical-align: top;
    }
}
