.relation-form-table {
    th:first-child,
    td:first-child { padding-left: 0 !important; }

    th:last-child,
    td:last-child { padding-right: 0 !important; }

    .form-group { margin-bottom: 0; }
}