.stock_item_products-table,
.stock_item-products-table {
  .th-movement_type {
    width: 14rem;
  }

  .th-comment {
    width: 25rem;
  }

  .td-movement_type {
    .bs-searchbox {
      display: none !important;
    }

    .dropdown-header[data-optgroup] {
      display: none !important;
    }
  }
}