@media print {
  @page {
    margin: 0;
    size: auto;
  }

  body {
    margin: 0mm 0mm 0mm 0mm !important;
    padding: 0mm !important;
  }

  #header,
  #footer,
  #sidebar,
  #chat,
  .growl-animated,
  .m-btn {
    display: none !important;
  }
}