/*
 * Variable and Mixin
 */
/*-------------------------
  Font Icon Family
--------------------------*/
/*-------------------------
  Grid System
--------------------------*/
/*-------------------------
  Typography
--------------------------*/
/*-------------------------
  Border Radius
--------------------------*/
/*-------------------------
  Tabs
--------------------------*/
/*-------------------------
  Form
--------------------------*/
/*-------------------------
  Table
--------------------------*/
/*-------------------------
  Input Group
--------------------------*/
/*-------------------------
  Pagination
--------------------------*/
/*-------------------------
  Popover
--------------------------*/
/*-------------------------
  Dropdown
--------------------------*/
/*-------------------------
  Thumbnail
--------------------------*/
/*-------------------------
  Alerts
--------------------------*/
/*-------------------------
  Form Validations
--------------------------*/
/*-------------------------
  Buttons
--------------------------*/
/*-------------------------
  Carousel
--------------------------*/
/*-------------------------
  Modal
--------------------------*/
/*-------------------------
  Tooltips
--------------------------*/
/*-------------------------
  Popover
--------------------------*/
/*-------------------------
  Breadcrumbs
--------------------------*/
/*-------------------------
  Jumbotron
--------------------------*/
/* ------------------------
    List Group
--------------------------*/
/*-------------------------
  Badges
--------------------------*/
/*-------------------------
  Material Colors
--------------------------*/
/*-------------------------
  Bootstrap Branding
--------------------------*/
/*-------------------------
  Colors
--------------------------*/
/*-------------------------
  Blocks
--------------------------*/
/*-------------------------
  Card
--------------------------*/
/*-------------------------
  Cursor
--------------------------*/
/*
 * American Soda
 */
.form-container {
  margin-bottom: 1rem;
}
.form-group {
  position: relative;
}
.form-label {
  display: block;
}
label.error {
  color: #f77;
}
form .removing {
  background: #eee;
}
input[name="product_barcode"],
input[name="package_barcode"] {
  font-family: viisaseanmatala;
  font-size: 40px;
  height: auto;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  background-color: #fafafa;
}
.fc .fc-order-status-open {
  background-color: #4CAF50;
}
.fc .fc-order-status-assembly {
  background-color: #FFC107;
}
.fc .fc-order-status-shipment {
  background-color: #2196F3;
}
.fc .fc-order-status-invoice {
  background-color: #9E9E9E;
}
.fc .fc-badge {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 22px;
  height: 14px;
  line-height: 16px;
  border-radius: 1px;
  text-align: center;
  background: #FFC107;
  color: #E91E63;
  font-weight: 700;
  z-index: 10;
}
.fc .fc-order-has-comment .fc-content:before,
.fc .fc-order-has-future-comment .fc-content:before {
  content: '\F11E';
  display: inline-block;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  font-size: 1.5em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 5px;
  top: -3px;
  color: #FFC107;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.fc .fc-order-has-comment .fc-title,
.fc .fc-order-has-future-comment .fc-title {
  padding-left: 18px;
}
.customer-order-items-table td.td-status .status-open,
.customer_order_items-table td.td-status .status-open {
  font-weight: 700;
  color: #4CAF50;
}
.customer-order-items-table td.td-status .status-assembly,
.customer_order_items-table td.td-status .status-assembly {
  font-weight: 700;
  color: #FFC107;
}
.customer-order-items-table td.td-status .status-shipment,
.customer_order_items-table td.td-status .status-shipment {
  font-weight: 700;
  color: #2196F3;
}
.customer-order-items-table td.td-status .status-invoice,
.customer_order_items-table td.td-status .status-invoice {
  font-weight: 700;
  color: #9E9E9E;
}
.pricing-policies-form {
  margin-top: 3rem;
}
.pricing-policies-form .product-group-name {
  width: 15rem;
  vertical-align: middle;
  font-size: 2rem;
}
.pricing-policies-form .table .table > thead > tr:first-child > th,
.pricing-policies-form .table .table > tbody > tr:first-child > th,
.pricing-policies-form .table .table > tfoot > tr:first-child > th,
.pricing-policies-form .table .table > thead > tr:first-child > td,
.pricing-policies-form .table .table > tbody > tr:first-child > td,
.pricing-policies-form .table .table > tfoot > tr:first-child > td {
  border-top: none;
}
.pricing-policies-form .table .table > thead > tr > th.price-policy-actions,
.pricing-policies-form .table .table > tbody > tr > th.price-policy-actions,
.pricing-policies-form .table .table > tfoot > tr > th.price-policy-actions,
.pricing-policies-form .table .table > thead > tr > td.price-policy-actions,
.pricing-policies-form .table .table > tbody > tr > td.price-policy-actions,
.pricing-policies-form .table .table > tfoot > tr > td.price-policy-actions {
  text-align: center;
}
.pricing-policies-form .table .table > thead > tr > th.price-policy-actions .btn,
.pricing-policies-form .table .table > tbody > tr > th.price-policy-actions .btn,
.pricing-policies-form .table .table > tfoot > tr > th.price-policy-actions .btn,
.pricing-policies-form .table .table > thead > tr > td.price-policy-actions .btn,
.pricing-policies-form .table .table > tbody > tr > td.price-policy-actions .btn,
.pricing-policies-form .table .table > tfoot > tr > td.price-policy-actions .btn {
  margin-top: 2px;
}
.pricing-policies-form .table .table > thead > tr > th .form-group,
.pricing-policies-form .table .table > tbody > tr > th .form-group,
.pricing-policies-form .table .table > tfoot > tr > th .form-group,
.pricing-policies-form .table .table > thead > tr > td .form-group,
.pricing-policies-form .table .table > tbody > tr > td .form-group,
.pricing-policies-form .table .table > tfoot > tr > td .form-group {
  margin-bottom: 0;
}
.relation-form .table > thead > tr > th,
.relation-form .table > tbody > tr > th,
.relation-form .table > tfoot > tr > th,
.relation-form .table > thead > tr > td,
.relation-form .table > tbody > tr > td,
.relation-form .table > tfoot > tr > td {
  padding: 15px;
}
.relation-form .table > thead > tr > th:first-child,
.relation-form .table > tbody > tr > th:first-child,
.relation-form .table > tfoot > tr > th:first-child,
.relation-form .table > thead > tr > td:first-child,
.relation-form .table > tbody > tr > td:first-child,
.relation-form .table > tfoot > tr > td:first-child {
  padding-left: 10px;
}
.relation-form .table > thead > tr > th:last-child,
.relation-form .table > tbody > tr > th:last-child,
.relation-form .table > tfoot > tr > th:last-child,
.relation-form .table > thead > tr > td:last-child,
.relation-form .table > tbody > tr > td:last-child,
.relation-form .table > tfoot > tr > td:last-child {
  padding-right: 10px;
}
.relation-form .table .table {
  margin-top: -15px;
  background: none;
}
.relation-form-table th:first-child,
.relation-form-table td:first-child {
  padding-left: 0 !important;
}
.relation-form-table th:last-child,
.relation-form-table td:last-child {
  padding-right: 0 !important;
}
.relation-form-table .form-group {
  margin-bottom: 0;
}
.revisions-table .new-value {
  font-weight: bold;
  color: green;
  text-decoration: none;
}
.revisions-table .old-value {
  margin-left: 0.5em;
  text-decoration: none;
  font-style: italic;
  color: #999;
}
.stock_item_products-table .th-movement_type,
.stock_item-products-table .th-movement_type {
  width: 14rem;
}
.stock_item_products-table .th-comment,
.stock_item-products-table .th-comment {
  width: 25rem;
}
.stock_item_products-table .td-movement_type .bs-searchbox,
.stock_item-products-table .td-movement_type .bs-searchbox {
  display: none !important;
}
.stock_item_products-table .td-movement_type .dropdown-header[data-optgroup],
.stock_item-products-table .td-movement_type .dropdown-header[data-optgroup] {
  display: none !important;
}
.table .form-group {
  position: relative;
}
.table .td-removed {
  padding-top: 17px !important;
  padding-bottom: 17px !important;
  background-color: rgba(255, 0, 0, 0.1);
  border-top: none;
  text-align: center;
  font-weight: 700;
}
.table .toggle-switch {
  margin-top: 0.85rem;
}
#productDatatable td.column-product_barcode,
#productDatatable td.column-package_barcode {
  font-family: viisaseanmatala;
  font-size: 40px;
  height: auto;
}
#customerOrderDatatable td.column-sent_at {
  text-align: center;
}
#customerOrderItemDatatable td.column-status .status-open {
  font-weight: 700;
  color: #4CAF50;
}
#customerOrderItemDatatable td.column-status .status-assembly {
  font-weight: 700;
  color: #FFC107;
}
#customerOrderItemDatatable td.column-status .status-shipment {
  font-weight: 700;
  color: #2196F3;
}
#customerOrderItemDatatable td.column-status .status-invoice {
  font-weight: 700;
  color: #9E9E9E;
}
#customerShipmentDatatable td.column-status .status-open {
  font-weight: 700;
  color: #4CAF50;
}
#customerShipmentDatatable td.column-status .status-assembly {
  font-weight: 700;
  color: #FFC107;
}
#customerShipmentDatatable td.column-status .status-shipment {
  font-weight: 700;
  color: #2196F3;
}
#customerShipmentDatatable td.column-status .status-invoice {
  font-weight: 700;
  color: #9E9E9E;
}
#customerShipmentDatatable td.column-actions {
  min-width: 135px;
}
#stockProductDatatable_length label:first-child {
  display: none;
}
.timeline-container {
  margin-top: 8rem;
}
.timeline-container .timeline {
  padding: 2rem 2rem 2rem 7rem;
}
.timeline-container .t-view:before,
.timeline-container .t-view:after {
  top: 2rem;
}
.timeline-container .t-view:before {
  font: normal normal normal 2rem/1.65 'Material-Design-Iconic-Font';
}
.timeline-container .t-view:last-child:after {
  display: none;
}
.timeline-container .t-view.created:before,
.timeline-container .t-view.created:after {
  background: #4CAF50;
}
.timeline-container .t-view.created:before {
  content: '\F1FF';
  box-shadow: 0 0 0 1px #4CAF50;
}
.timeline-container .t-view.edited:before,
.timeline-container .t-view.edited:after {
  background: #00BCD4;
}
.timeline-container .t-view.edited:before {
  content: '\F158';
  box-shadow: 0 0 0 1px #00BCD4;
}
.timeline-container .t-view.commented:before,
.timeline-container .t-view.commented:after {
  background: #FFC107;
}
.timeline-container .t-view.commented:before {
  content: '\F262';
  box-shadow: 0 0 0 1px #FFC107;
}
.timeline-container .t-view.destroyed:before,
.timeline-container .t-view.trashed:before,
.timeline-container .t-view.destroyed:after,
.timeline-container .t-view.trashed:after {
  background: #F44336;
}
.timeline-container .t-view.destroyed:before,
.timeline-container .t-view.trashed:before {
  content: '\F154';
  box-shadow: 0 0 0 1px #F44336;
}
.timeline-container .t-view .tv-body {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.timeline-container .attributes-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.timeline-container .attribute-text {
  color: #5E5E5E;
}
