/*-------------------------
    Select BG
--------------------------*/
.select-bg() {
    &:before {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        height: ~"calc(100% - 2px)";
        width: 30px;
        background-color: transparent;
        background-position: right ~"calc(100% - 7px)";
        background-repeat: no-repeat;
        .img-retina('/vendor/material-admin/img/select.png', '/vendor/material-admin/img/select@2x.png', 12px, 12px);
        pointer-events: none;
        z-index: 5;
    }
}