#todo {
    background: @m-amber;
    font-family: @font-family-base;

    .card-header {
        padding: 30px 35px;
    }
}

.t-add {

    &.toggled {

        .ta-block {

            .tab-actions {

                & > a {
                    font-size: 25px;
                    padding: 0;
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                }
            }
        }
    }
}
