/*-------------------------
  Buttons
--------------------------*/
@border-radius-base: 6px;
@border-radius-large: 6px;
@border-radius-small: 6px;

/*-------------------------
  Typography
--------------------------*/
@body-bg: #fff;

/*-------------------------
  Card
--------------------------*/
@card-shadow: none;

/**
 * Disabled cursor for form controls and buttons.
 */
@cursor-disabled: default;

/**
 * Font
 */
@ma-font-path: '/vendor/material-admin/fonts/';